<div class = 'container'>
<%= render 'partials/navigation'%>
<h2 class = 'heading_1 primary_color text_center'>Edit <%= current_user.name %> Information</h2>

<div class = 'form_holder m_auto'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'heading_4' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form_fild auth_f_field' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: 'heading_4' %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form_fild auth_f_field' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'heading_4' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form_fild auth_f_field' %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: 'heading_4' %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form_fild auth_f_field' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: ' btn green_btn heading_4' %>
  </div>
<% end %>
<hr>
<h3 class = 'text_center'>Delete my account</h3>

<p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn red_btn heading_4' %></p>

<%= link_to "Back", :back , class: 'heading_4 secondary_color' %>
</div>
</div>
