<div class = 'container'>
<%= render 'partials/navigation'%>
<h2 class = 'heading_1 primary_color text_center'>Sign up</h2>
<div class = 'form_holder m_auto'>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name ,class: 'heading_4' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form_fild auth_f_field' %>
  </div>

<div class="field">
    <%= f.label :photo ,class: 'heading_4' %><br />
    <%= f.text_field :photo, autocomplete: "photo", class: 'form_fild auth_f_field' %>
  </div>

  <div class="field">
    <%= f.label :bio ,class: 'heading_4' %><br />
    <%= f.text_area :bio, autocomplete: "bio", class: 'form_fild auth_f_field' %>
  </div>
  

  <div class="field">
    <%= f.label :email ,class: 'heading_4' %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form_fild auth_f_field' %>
  </div>

  <div class="field">
    <%= f.label :password ,class: 'heading_4' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form_fild auth_f_field' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,class: 'heading_4' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form_fild auth_f_field' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: ' btn green_btn heading_4' %>
  </div>
<% end %>
</div>

</div>