<div class = 'container padding_1r'>
  <h1 class = 'heading_1 primary_color text_center'>User posts</h1>
  <%= render 'partials/user' %>
  <br>
  <% @posts.each do |post| %>
     <%= link_to "#{post.title}" , user_post_path(id: post.id) , {:class => "underline secondary_color heading_3 align_item_center"} %> 
     <p class = 'heading_4'><%= post.text %></p>
     <div class = 'd_flex accent_color'>
       <p>Likes : <%= post.like_counter %></p>
       <p>Comments : <%= post.comment_counter%></p>
     </div>
     <% if post.comment_counter != 0 %>
        <% post.five_recent_comments.each do |comment| %>
          <div class = 'd_flex gap_1 align_center' >
            <% if comment.author.photo == '' %>
              <img class = 'profile_pic comment_pro_pic' src = 'https://www.seekpng.com/png/full/428-4287240_no-avatar-user-circle-icon-png.png', alt = 'profile picture'>
            <% else %>
              <img class = 'profile_pic comment_pro_pic' src = "<%= comment.author.photo%>", alt = 'profile picture'>
            <% end %>
            <h3><%= comment.author.name%></h3>
            <p><%= comment.text%></p>
          </div>
        <% end %>
     <% end %>
     <br>
   <% end %>
</div>
